<nav>
  <div class="mdl-grid">
    <form {{action switchCollection collectionName on="submit"}}>
      {{mdl-textfield label='Change Collection' value=collectionName}}
      {{mdl-button icon="search"}}
    </form>
  </div>
</nav>


{{outlet}}
